extends layouts/_layout.pug

block variables
    - var activePage = 'view-placements'
    - var activeGroup = 'placements'

block title
    title View Placements- CareerPad

block content
    .app-title
        div
            h1
                i.fa.fa-edit
                |  View Placements
            p View placements of REVA Careerpad

        ul.app-breadcrumb.breadcrumb
            li.breadcrumb-item
                i.fa.fa-home.fa-lg
            li.breadcrumb-item
                | Placements
            li.breadcrumb-item
                a(href="/viewPlacement") View Placements
    