doctype html
html(lang="en")

	//- Variables to set active page in sidebar
	block variables
		- var activePage = 'dashboard'
		- var activeGroup = 'none'

	head
		meta(name="description", content="REVA Careerpad ~ Launch Your Career")

		// Open Graph Meta
		meta(property="og:type", content="website")
		meta(property="og:site_name", content="REVA Careerpad Admin")
		meta(property="og:title", content="REVA Careerpad")
		
		block title
			title REVA CareerPad Admin

		include ../includes/_head.pug

	body.app.sidebar-mini.rtl

		// Navbar
		include ../includes/_header.pug

		// Sidebar menu
		include ../includes/_sidebar.pug

		main.app-content
			block content

		//- Javascripts
		include ../includes/_javascript.pug
		
		// Page specific javascripts
		block specific-js
