.dashboard {
    margin-top: 10rem;
    padding: 5rem;
    background: rgba(241, 205, 187, 0.4);
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: -1rem;

    &__sidebar {
        border: 1px solid black;
        width: 25rem;
        height: auto;
        background: rgb(6, 6, 155);
        color: white;
        padding: 1rem;

        &--profile{
            text-align: center;
        }

        &--img {
            border-radius: 10rem;
            border: 1px solid white;
        }

        & h2 {
            text-align: center;
        }

        &--list {
            margin: 1rem;
            font-size: 1.8rem;
        }

        &--item {
            margin: 4rem  1rem;
            padding: 1rem;
            list-style-type: none;
            text-align: center;
            border: 1px solid white;
            border-radius: 1rem;

            & a {
                text-decoration: none;
                color: white;
            }
        }
    }

    &__profile{
        padding: 2rem;
        background: white;
        
        &--list {
            font-size: 2rem;
            list-style: none;
        }

        &--data {
            text-align: left;
            margin: 3rem 1rem;
            padding: 2rem;

        }

        &--button
         {
             float: right;
            width: 16rem;
            font-size: 1.6rem;
            padding: 1rem;
            text-transform: uppercase;
            text-align: center;
            border: 1px solid blue;
            border-radius: 2rem;
            outline: none;

            & img {
                height: 1.5rem;
            }
        }

        &--button:hover{
            background: grey;
            cursor: pointer;
        }  

        &--form{
              margin-top: 10rem;
        } 
    }
}