.dashboard {
    padding: 5rem;
    background: rgba(241, 205, 187, 0.4);
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: -1rem;

    &__sidebar {
        border: 1px solid black;
        width: 25rem;
        height: auto;
        background: rgb(6, 6, 155);
        color: white;
        padding: 1rem;

        &--profile {
            text-align: center;
        }

        &--img {
            height: 20rem;
            width: 20rem;
            border-radius: 10rem;
            border: 1px solid white;
        }

        & h2 {
            text-align: center;
        }

        &--list {
            margin: 1rem;
            font-size: 1.8rem;
        }

        &--item {
            margin: 4rem 1rem;
            padding: 1rem;
            list-style-type: none;
            text-align: center;
            border: 1px solid white;
            border-radius: 1rem;

            & a {
                text-decoration: none;
                color: white;
            }
        }
    }

    &__profile {
        padding: 2rem;
        background: white;

        &--list {
            font-size: 2rem;
            list-style: none;
            margin-top: 5rem;
        }

        &--data {
            text-align: left;
            margin: 3rem 1rem;
            padding: 2rem;

        }

        &--button {
            float: right;
            width: 16rem;
            font-size: 1.6rem;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            border: none;
            outline: blue;
            cursor: pointer;
            color: white;
            background: $color-primary;
            padding: 0.5rem;
            margin: 0.5rem;

            & img {
                height: 1.5rem;
            }

            
        }

        &--button:hover {
            padding: 0.6rem;
            border: 1px solid rgb(201, 238, 255);
            transition: all ease-out;
            background: $color-secondary;
        }

        &--form {
            margin-top: 10rem;
        }
    }

    &__resume {

        &--buttons {
            float: right;


            & button,
            & input[type="submit"]
            {
                font-size: 1.6rem;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                border: none;
                outline: blue;
                cursor: pointer;
                color: white;
                background: $color-primary;
                padding: 0.5rem;
                margin: 0.5rem;
            }

            & button:hover,
            & input[type="submit"]:hover{
                padding: 0.6rem;
                border: 1px solid rgb(201, 238, 255);
                transition: all ease-out;
                background: $color-secondary;
            }
        }

        &--header {
            margin-top: 5rem;
            padding: 0 1rem;

            & h1 {
                font-size: 1.8rem;
            }

            & h2 {
                color: grey;
            }
        }

        &--line {
            padding: 0 1rem;
            margin: 1rem 0;
            width: 100%;
            height: 0.1rem;
            border: 1px solid rgb(211, 210, 210);
        }

        &--content {
            padding: 1.5rem;
            display: grid;
            grid-template-columns: 30% 70%;

            &h1 {
                font-size: 1.8rem;
                float: left;
            }

            & ul {
                font-size: 1.6rem;
                list-style: none;

                & li {
                    padding: 0 1rem;
                }
            }
        }
    }
}