.footer {
    background-color: black;
    text-align: left;
    padding: 1rem;

    &__upper{
        border-bottom: 3px solid white;
        padding: 1rem 0;

        &--logo {
            float: left;
        }

        &--share{
            padding: 1rem;
        }
    }

    &__share {
        list-style: none;
        float: right;

        &--text {
            color: white;
            font-family: 'Roboto' sans-serif;
            font-weight: bolder;
            font-size: 2.4rem;
            text-transform: uppercase;
            text-align: center;

            @include respond-to(handhelds){
                font-size: 1.4rem;
            }
        }
         &--icon {
             display: inline;
             @include respond-to(handhelds){
                
                padding: 1rem;
            }
         }
    }

    &__lower {
        padding: 3rem;
        font-family: 'Roboto' sans-serif;
        text-align: center;

        @include respond-to(handhelds){
            padding: 1rem;
        }

        &--heading {
            color: white;
            font-size: 2.4rem;
            font-weight: bold;
            @include respond-to(handhelds){
               font-size: 1.4rem;
            }
        }

        &--list {
            list-style: none;
            
        }

        &--item {
            color: white;
            font-size: 2rem;
            font-weight: bolder;
            padding: 1rem 0;
            a {
                text-decoration: none;
                color: white;
            }

            @include respond-to(handhelds){
                font-size: 1rem;
                padding: 0;
             }

             @include respond-to(medium-screens){
                font-size: 1.5rem;
                padding: 0;
             }
        }
    }
    &__copyright {
        font-size: 1.8rem;
        color: white;
        text-transform: uppercase;

        @include respond-to(handhelds){
            font-size: 1rem;
            text-align: center;
        }

    }
}