.login {
    background-image: url('../img/loginBg.jpg');
    height: 80vh;
    margin-top: 10rem;
    text-transform: uppercase;
    &__form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Roboto'sans-serif;

        &--heading {
            color: white;
            font-size: 2.4rem;
            margin: 4rem 0;
            border-bottom: 1px solid white;
            font-weight: bolder;
        }

        &--main {
            background: white;
            font-weight: bolder;
            color: black;
            text-align: left;
            padding: 1rem;
            font-size: 2rem;

            h3 {
                text-align: center;
            }
            form {

                input{
                    padding: 1rem 0;
                    width: 100%;
                    display: block;
                    cursor: pointer;
                    font-size: 1.8rem;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid grey;
                }
            }

            a {
                text-decoration: none;
                display: block;
            }
        }
    }
}

.btn {
    width: 100%;
    text-align: center;
    background-color: $color-primary;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}

.btn:hover {
    background-color:  $color-secondary;
    color: black;
}