.navigation{
    font-family: 'Lora', serif;

    &__list{
        list-style: none;
        text-align: center;
        padding:   1rem;
    }
    &__item{
        display: inline-block;
        margin: 1rem;
        padding: 1rem;
        @include respond-to(handhelds) {
            display: block;
        }
    }

    &__link{
        &:visited,
        &:link{
            text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: bolder;
            text-decoration: none;
            color: $color-primary;
            
            @include respond-to(handhelds) {
                font-size: 1.3rem;
            }
        }
        &:active{
            border-bottom: 2px solid $color-primary;
        }

        &:hover{
            border-bottom: 2px solid $color-primary;
        }
    }
}
