.breadcrumbs
  ul.breadcrumbs__list
    li.breadcrumbs__list--item
      a.breadcrumbs__link(href='') Suggestion
    li.breadcrumbs__list--item
      a.breadcrumbs__link(href='') By Date
    li.breadcrumbs__list--item
      a.breadcrumbs__link(href='') By Category