.tabs
  ul.tabs__list
    li.tabs__list--item
      a(href='latestNews') Latest News
    li.tabs__list--item
      a(href='placements') Job Offers
    li.tabs__list--item
      a(href='login') Add Resume