extends layout

block content
    style.
        .image-aboutus-banner {
        background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/2089379/pexels-photo-2089379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        padding-top: 110px;
        padding-bottom:110px;
        height: 50vh;
        }
    .image-aboutus-banner
        .container
            .row
                .col-md-12
                    h1 About Us
                    p REVA CareerPad
