extends layout

block content
    style.
        .banner-section{background-image:url("https://static.pexels.com/photos/373912/pexels-photo-373912.jpeg"); background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}
        .post-title-block{padding:100px 0;}
        .post-title-block h1 {color: black; font-size: 85px; font-weight: bold; text-transform: capitalize;}
    section.banner-section
    section.post-content-section
        .container
            .row
                .col-lg-12.col-md-12.col-sm-12.post-title-block
                    h1.text-center COMING SOON!!
                    
