doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(href='https://fonts.googleapis.com/css?family=Lora|Roboto' rel='stylesheet')
  link(rel='stylesheet' href='stylesheets/style.css')
  link(rel='icon' type='image/png' href='img/favicon-32x32.png' sizes='32x32')
  link(rel='icon' type='image/png' href='img/favicon-16x16.png' sizes='16x16')
  title REVA Careerpad | Launch Your Career
body
  include ./template/nav.pug
  block content
  if success_messages
   p(style='font-size: 1.8rem') #{success_messages}
  if error_messages
   p(style='font-size: 1.8rem') #{error_messages}
  include ./template/header.pug
  include ./template/footer.pug
  