extends layout

block content
    h1 Login    
    form(action="/login", method="post")
        div.form-group
            label(for='email') Email
            input(type='text' id='email' placeholder='email' name='email')
            br
            label(for='password') Password
            input(type='password' id='password' placeholder='password' name='password')
            br
            button.btn.btn-primary(type='submit') Log in

    h1 Don't have an account? 
        a(href="/register") Register..