extends layout

block content
  // form area
  .login
    .login__form
      h2.login__form--heading Login With REVA Account
      .login__form--main
        form(action='/login' method='post')
          label(for='email') Email/Username
          br
          input#userEmail(type='email' name='email' placeholder='Enter your email')
          br
          label(for='password') Password
          br
          input#userPassword(type='password' name='password' placeholder='********')
          br
          input.btn.btn-primary(type='submit' value='Login Now')
        h3 Are you a new member?
        a.btn.btn-primary(href='register') Register Now

