extends layout

block content
    include ./components/breadcrumbs.pug
    include ./components/cards.pug
    .container.nav_buttons
        a.previous.round(href='#') &lsaquo;
        a.next.round(href='#') &rsaquo;

