extends layout

block content
  //registration form area
  .register
    .register__form
      h2.register__form--heading Create REVA Account
      .register__form--main
        form(action='/register' method='post')
          input#firstName(type='text' name='firstName' placeholder='First Name')
          br
          input#lastName(type='text' name='lastName' placeholder='Last Name')
          br
          input#email(type='email' name='email' placeholder='Enter your email address')
          br
          input#password(type='password' name='password' placeholder='Password')
          br
          input#confirmPassword(type='password' name='confirmPassword' placeholder='Confirm Password')
          br
          input.btn.btn-primary(type='submit' value='Register Now')
