extends layout

block content
    .container.placement__profile
        .row
            .col
                img.placement__profile--img(src=placement.placementPicture alt='Placement Picture')
            .col
                h1.placement__profile--title #{placement.placementTitle}
                p.placement__profile--description #{placement.placementDetails}
                p.placement__profile--eligibility #{placement.placementEligibility}
                button.btn.btn-primary.btn-lg.placement__profile--button(href='#') Apply Now

