.alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(-0, -70%);
  margin: 2rem;
  width: 40rem;
  height: 10rem;
  font-size: 1.6rem;
  text-align: center;
  z-index: 998;
}

.alert-danger-alt {
  border-color: #B63E5A;
  background: #E26868;
  color: #fff;
}

.alert-success-alt {
  border-color: #19B99A;
  background: #20A286;
  color: #fff;
}