.cards {
    font-family: 'Roboto' sans-serif;
    color: white;
    padding: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);

    &__img {
        padding-bottom: 1rem;
         &--inner {
             width: 100%;
         }
    }

    
    &__heading {
        background-color: #130121;
        padding: 1rem;
        text-transform: uppercase;
        
        @include respond-to(hadnhelds){
            padding: 0.5rem;
        }

        &--primary {
            font-weight: bolder;
            font-size: 2.4rem;

            @include respond-to(handhelds){
                font-size: 1.5rem;
            }
        }


        &--secondary {
            font-weight: 400;
            font-size: 2.0rem;

            @include respond-to(handhelds){
                font-size: 1.2rem;
            }
        }
    }

    &__button {
        text-align: center;
        background-color: rgb(17, 17, 192);
        padding: 1rem;

    }

    &__link{
        text-decoration: none;
        color: white;
        font-size: 2.4rem;
        @include respond-to(handhelds){
            font-size: 1.5rem;
        }
    }
}