.container-fluid.footer
  .footer__upper
    .row
      .col.footer__upper--logo
        img(src='/img/reva.jpg' alt='REVA University')
      .col.footer__upper--share
        ul.footer__share
          li.footer__share--text Connect With US
          li.footer__share--icon
            a(href='http://instagram.com' target='_blank' rel='noopener noreferrer')
              img(src='/img/icons/icon-instagram.png' alt='Instagram' title='Instagram')
          li.footer__share--icon
            a(href='http://instagram.com' target='_blank' rel='noopener noreferrer')
              img(src='/img/icons/icon-facebook.png' alt='Facebook' title='Facebook')
          li.footer__share--icon
            a(href='http://instagram.com' target='_blank' rel='noopener noreferrer')
              img(src='/img/icons/icon-youtube.png' alt='YouTube' title='YouTube')
          li.footer__share--icon
            a(href='http://instagram.com' target='_blank' rel='noopener noreferrer')
              img(src='/img/icons/icon-google.png' alt='Google' title='Google')
  .footer__lower
    .row
      .col
        h2.footer__lower--heading About Us
        ul.footer__lower--list
          li.footer__lower--item
            a(href='') Vision &amp; Mission
          li.footer__lower--item
            a(href='') REVA Genesis
          li.footer__lower--item
            a(href='') News &amp; Events
          li.footer__lower--item
            a(href='') FAQs
          li.footer__lower--item
            a(href='') Blog
      .col
        h2.footer__lower--heading Programs
        ul.footer__lower--list
          li.footer__lower--item
            a(href='') Campus Placement
          li.footer__lower--item
            a(href='') Training &amp; Placements
          li.footer__lower--item
            a(href='') Job Offers
          li.footer__lower--item
            a(href='') Company Profiles
      .col
        h2.footer__lower--heading Stay Connected
        ul.footer__lower--list
          li.footer__lower--item REVA University
          li.footer__lower--item Rukmini Knowledge Park
          li.footer__lower--item Kattigenahalli, Yelhanka
          li.footer__lower--item Bangalore- 560064
          li.footer__lower--item
            img(src='/img/icons/icon-phone.png' alt='Phone No')
            | +91-80-66226622
          li.footer__lower--item
            img(src='/img/icons/icon-mail.png' alt='Phone No')
            | info@revacareerpad.com
  .footer__copyright
    p  &copy; REVA CareerPad | REVA University | Developed by Immortal