if success_messages.length > 0
    .alert.alert-success-alt(role='alert')
         button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
         strong #{success_messages}
            

if error_messages.length > 0
    .alert.alert-danger-alt(role='alert')
         button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
         strong #{error_messages}

script.
  