//-
 navigation area
  .navigation
  .navigation__icon
    img(src='img/logo.PNG' alt='REVA Careerpad Logo')
  .navigation__nav
    ul.navigation__list
      if user == undefined
        li.navigation__item
          a.navigation__link(href='/') Home
        li.navigation__item
          a.navigation__link(href='#') About Us
        li.navigation__item
          a.navigation__link(href='login')
            | Student Panel
            i.icofont-curved-down
        li.navigation__item
          a.navigation__link(href='#') Placement Offers
        li.navigation__item
          a.navigation__link(href='#') Placement Office
      else
        li.navigation__item
          a.navigation__link(href='#')
            img(src='./img/icons/notifications.png' alt='notifications')
            |  Notifications
        li.navigation__item
          a.navigation__link(href='#')
            img(src='./img/icons/offers.png' alt='offers')
            | Offers
        li.navigation__item
          a.navigation__link(href='/logout')
            img(src='./img/icons/profile.png' alt='profile')
            | Logout

// navigation area
nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.navigation
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo03' aria-controls='navbarTogglerDemo03' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  a.navbar-brand(href='#')
    img(src='img/logo.PNG' alt='REVA Careerpad Logo')
  #navbarTogglerDemo03.collapse.navbar-collapse
    ul.navbar_nav.ml-auto
      if user == undefined
        li.navigation__item.nav_item.active
          a.navigation__link.nav_link(href='/') Home
        li.navigation__item.nav_item
          a.navigation__link.nav_link(href='about') About Us
        li.navigation__item.nav_item
          a.navigation__link.nav_link(href='login')
            | Student
            | Panel
        li.navigation__item.nav_item
          a.navigation__link.nav_link(href='placements')
            | Placement
            | Offers
        li.navigation__item.nav_item
          a.navigation__link.nav_link(href='placementOffice')
            | Placement
            | Office
      else
        li.navigation__item.nav_item
          a.navigation__link.nav_link(href='#')
            img(src='./img/icons/notifications.png' alt='notifications')
            |  Notifications
        li.navigation__item.nav_item
          a.navigation__link.nav_link(href='#')
            img(src='./img/icons/offers.png' alt='offers')
            | Offers
        li.navigation__item.nav_item
          a.navigation__link.nav_link(href='/logout')
            img(src='./img/icons/profile.png' alt='profile')
            | Logout